*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-direction: row;
}
.header-section{
    padding: 15px;
    background-color: #ADD8E6;
    padding-left: 15%;
    padding-right: 15%;
}
#header-box .flex{
    justify-content: space-between;
    background-color: #DAA520;
    border: dashed 1px;
}
#header-box .logo{
    display: flex;
    border-right: dashed 1px;
    padding-left: 5px;
    width: 15%;
    justify-content: flex-start;
}
#header-box .flex .login{
    display: flex;
    border-left: dashed 1px;
    padding-right: 5px;
    width: 15%;
    justify-content: flex-end;
}
#first-section .flex{
    justify-content: center;
    background-color: #00008B;
    padding: 30px;
}
#first-section .violet-item{
    width: 500px;
    height: 200px;
    background-color: #EE82EE;
}
#second-section .flex{
    justify-content: center;
    background-color: #ffffff;
    padding: 30px;
}
#second-section .lightblue-item{
    width: 400px;
    height: 250px;
    background-color: #1E90FF;
    border: dashed 1px;
}
#second-section .pink-item{
    width: 250px;
    height: 250px;
    background-color: #FFC0CB;
    border: dashed 1px;
}