*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-direction: row;
}
.header-section{
    padding: 15px;
    background-color: #ADD8E6;
    padding-left: 15%;
    padding-right: 15%;
}
#header-box .flex{
    justify-content: space-between;
    background-color: #DAA520;
    border: dashed 1px;
}
#header-box .logo{
    border-right: dashed 1px;
    padding-left: 5px;
    padding-right: 100px;
}
#header-box .login{
    border-left: dashed 1px;
    padding-right: 5px;
    padding-left: 100px;
    }
